@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
  background-color: #F2F2F2;
}

body {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  min-width: 1200px;
  margin: 0;
  color: #333333;
}

.page-wrapper {
  width: 1200px;
  min-height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-container {
  flex-grow: 1;
}

.button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  padding: 8px 0;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button:disabled {
  background: #e5e5e5;

}

.button-brown {
  background-color: #756157;
}

.button-brown:hover {
  background: #615048;
}

.button-brown:focus {
  background: #615048;
}

.button-brown:active {
  background: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.button-blue {
  background-color: #82b3d3;
}

.button-blue:hover {
  background: rgba(104, 162, 202, 1);
}

.button-blue:focus{
  background: rgba(104, 162, 202, 1);
}

.button-blue:active{
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}

.button-green {
  background-color: #7db54f;
}

.button-green:hover {
  background: rgba(108, 158, 66, 1);
}

.button-green:focus {
  background: rgba(108, 158, 66, 1);
}

.button-green:active{
  background-color: #7db54f;
  color: rgba(255, 255, 255, 0.3);
}

.button-transparent {
  background-color: transparent;
}

.wrapper-nav-user .button {
  align-self: center;
  padding: 8px 34px;
}

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1060px;
  margin: 0 auto;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
}

.wrapper-nav-pages{
  width: 507px;
}

.wrapper-nav-user {
  width: 268px;
}

.header-logo {
  position: absolute;
  top: 0;
  width: 138px;
  margin-right: 30px;
  z-index: 2;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  align-items: center;
}

.navigation-pages {
  width: 339px;
  padding: 0 0 0 170px;
}

.navigation-user {
  width: 100px;
}

.navigation-item {
  position: relative;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.current .navigation-text-link::before{
  position: absolute;
  right: 16px;
  left: 16px;
  bottom: -1px;
  height: 2px;
  content: "";
  background-color: #756257;
  z-index: 2;
}

.navigation-item .navigation-text-link {
  padding: 20px 16px;
  color: #000000;
  text-decoration: none;
  display: block;
}

.navigation-item .navigation-icon-link{
  padding: 22px 12px;
  min-width: 20px;
  min-height: 20px;
  color: #000000;
  text-decoration: none;
  display: block;
}

.navigation-list.navigation-user {
  display: grid;
  grid-template-columns: 44px 44px;
  justify-content: flex-start;
}

.navigation-user .navigation-item:nth-child(1)
.navigation-icon-link {
  padding: 22px 12px;
  background-image: url("../images/search.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.navigation-user .navigation-item:nth-child(2)
.navigation-icon-link {
  padding: 22px 12px;
  background-image: url("../images/heart.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.navigation-user .navigation-item:last-child::before{
  position: absolute;
  content: "12";
  top: 11px;
  left:20px;
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  padding: 5.5px;
  color: #ffffff;
  background-color: #7db54f;
  border-radius: 50px;
}

/*MAIN PAGE*/

.hero {
  position: relative;
  background-color: #2B3D49;
  background-image: url("../images/hero-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.hero::before{
  content:"";
  position: absolute;
  left: 0;
  right:0;
  bottom: 0;
  background-image: url("../images/divider.svg");
  background-repeat: no-repeat;
  height: 57px;
}

.intro-text-image {
  display: block;
  margin: 0 auto;
  padding: 51px 0 82px 0;
}

.introduction {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
}

.transition {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.item {
  width: 230px;
  min-height: 385px;
}

.advantages {
  padding-top: 69px;
}

.advantages .introduction {
  width: 850px;
  margin: 0 auto;
  margin-bottom: 25px;
}

.advantages .transition {
  width: 850px;
  margin: 0 auto;
  margin-bottom: 90px;
}

.advantage-authenticity {
  display: flex;
  justify-content: space-between;
}

.advantages-title {
  position: relative;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 30px;
}

.advantages-area-road-tourists .advantages-title::before{
  position: absolute;
  content: "";
  width: 60px;
  height: 2px;
  bottom: -30px;
  left: 50%;
  margin-left: -30px;
  background-color: rgba(0, 0, 0, 0.3);
}

.advantage-authenticity .advantages-title::before,
.advantage-bridge .advantages-title::before {
  position: absolute;
  content: "";
  width: 60px;
  height: 2px;
  bottom: -30px;
  left: 50%;
  margin-left: -30px;
  background-color: rgba(255, 255, 255, 0.3);
}

.advantages-description{
  text-align: center;
  margin: 0;
  margin-top: 30px;
}

.advantage-authenticity, .advantage-bridge {
  color: #ffffff;
  background-color: #82b3d3;
}

.description-wrapper,
.advantages-item {
  display: grid;
  grid-template-columns: 230px;
  grid-template-rows: repeat(2, min-content);
  padding: 0 85px;
  align-content: center;
}

.advantages-item:first-child, .advantages-item:last-child {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item:nth-child(2) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item .advantages-title {
  color: #000000;
}

.advantage-bridge {
  display: flex;
}

.advantage-bridge .description-wrapper {
  order: 2;
}

.offers {
  padding-top: 64px;
}

.offers .introduction {
  width: 650px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.offers .transition {
  width: 650px;
  margin: 0 auto;
  margin-bottom: 64px;
}

.offers-item {
  display: grid;
  grid-template-columns: 230px;
  grid-template-rows: repeat(2, min-content);
  padding: 0 85px;
  align-content: center;
}

.offers-item:first-child::before {
  position: relative;
  content: "";
  width: 75px;
  height: 72px;
  left: 50%;
  margin-left: -37.5px;
  background-image: url("../images/house.svg");
  background-repeat: no-repeat;
}

.offers-item:nth-child(2)::before{
  position: relative;
  content: "";
  width: 75px;
  height: 72px;
  left: 50%;
  margin-left: -37.5px;
  background-image: url("../images/food.svg");
  background-repeat: no-repeat;
}

.offers-item:last-child::before {
  position: relative;
  content: "";
  width: 75px;
  height: 72px;
  left: 50%;
  margin-left: -37.5px;
  background-image: url("../images/present.svg");
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center;
}

.offers-icon {
  width: 75px;
  height: 72px;
  margin: 0 auto;
}

.offers-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-top: 30px;
}

.offers-description {
  text-align: center;
  margin: 0;
  margin-top: 30px;
}

.offers-item:first-child, .offers-item:last-child {
  background-color: rgba(131, 179, 211, 0.12);
}

.hotel-search {
  padding-top: 96px;
  padding-bottom: 96px;
}

.hotel-search .introduction {
  width: 650px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.hotel-search .transition {
  width: 650px;
  margin: 0 auto;
  margin-bottom: 54px;
}

.hotel-search .button {
  font-size: 20px;
  line-height: 36px;
  width: 376px;
  display: block;
  margin: 0 auto;
}

.newsletter {
  width: 1200px;
  min-height: 215px;
  padding: 96px 0 104px 0;
}

.newsletter .introduction {
  width: 650px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.newsletter .transition {
  width: 650px;
  margin: 0 auto;
  margin-bottom: 54px;
}

.newsletter-form {
  display: grid;
  grid-template-columns: 452px 232px;
  width: 684px;
  margin: 0 auto;
}

.newsletter-form input {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  padding: 14px 0 14px 20px;
  background-color: rgba(242, 242, 242, 1);
  border: none;
  border-radius: 4px 0 0 4px;
}

.newsletter-form button {
  padding: 8px 0;
  border-radius: 0 4px 4px 0;
}

.newsletter-with-background {
  background-color: #2B3D49;
  background-image: url("../images/subscribe-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.newsletter-with-background p {
  color: #ffffff;
}

.newsletter .button {
  font-size: 20px;
  line-height: 36px;
}

/*CATALOG PAGE*/

.header-filter-background {
  background-color: #2B3D49;
  background-image: url("../images/filter-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 35px;
  min-height: 377px;
  /* margin-bottom: 50px; */
}

.inner-header {
  width: 1060px;
  margin: 0 auto;
}

.inner-header, .hotel-filter {
  color: #ffffff;
}

.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin: 0;
  margin-bottom: 8px;
}

.breadcrumbs-list {
  display: flex;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  list-style-type: none;
}

.breadcrumbs-item {
  font-size: 16px;
}

.breadcrumbs-link {
  margin-right: 28px;
}

.hotel-filter form{
  width: 1060px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.hotel-filter-group-wrapper {
  display: flex;
  justify-content: space-between;
}

.hotel-filter-group-wrapper:first-child {
  width:372px;
}

.hotel-filter-group-wrapper:last-child {
  width:549px;
}

.hotel-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.hotel-filter-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.hotel-filter-item .control {
  line-height: 23px;
}

.restriction-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.hotel-filter h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
}

.filter-button-wrapper {
  display: grid;
  gap: 32px;
  width: 191px;
}

.filter-button-wrapper .button {
  height: 36px;
}

.sorting-hotels-filter {
  width: 1060px;
  padding-top: 50px;
  margin: 0 auto;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
}

.sorting-hotels-filter .selection-content {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  height: 48px;
  margin-left: 200px;
}

.cards-visual {
  display: grid;
  grid-template-columns: repeat(3, 48px);
  gap: 8px;
  width: 160px;
  margin-left: auto;
}

.sorting-hotels-filter > .cards-visual > .button {
  height: 48px;
  padding: 0;
  border: 2px solid #e5e5e5;
  background-repeat: no-repeat;
  background-position: center;
}

.sorting-hotels-filter > .cards-visual > .button.active {
  border: 2px solid #000000;
}

.sorting-hotels-filter > .cards-visual > .button:hover{
  border: 2px solid #000000;
}

.sorting-hotels-filter > .cards-visual > .button:focus{
  border: 2px solid #68a2ca;
}

.sorting-hotels-filter > .cards-visual > .button:active{
  border: 2px solid #000000;
}

.sorting-hotels-filter > .cards-visual > .button:first-child{
  background-image: url("../images/button-grid.svg");
}

.sorting-hotels-filter > .cards-visual > .button:nth-child(2){
  background-image: url("../images/button-block.svg");
}

.sorting-hotels-filter > .cards-visual > .button:last-child{
  background-image: url("../images/button-list.svg");
}

.sorting-found-title {
  text-transform: uppercase;
}

.hotel-cards{
  width: 1060px;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 40px;
}

.hotel-cards-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap:20px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.hotel-cards-item {
  display: grid;
  grid-template-columns: repeat(2, 140px);
  column-gap: 20px;
  row-gap: 16px;
  padding: 20px;
  border: 1px solid rgba(230, 230, 230, 1);
  border-radius: 4px;
}

.hotel-cards-item img {
  grid-column: 1 / -1;
  object-fit: contain;
}

.hotel-cards-item h3 {
  grid-column: 1 / -1;
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.hotel-cards-item p {
  margin: 0;
}

.hotel-cards-item .hotel-price {
  justify-self: end;
}

.hotel-cards-item .rate {
  font-size: 16px;
  line-height: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #f2f2f2;
  text-align: center;
  text-transform: uppercase;
  border-radius: 4px;
}

.rate-stars{
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.rate-stars-item{
  width: 18px;
  height: 17px;
  background-image: url("../images/star.svg");
  background-repeat: no-repeat;
  margin-right: 6px;
}

.rate-stars-item:last-child{
  margin-right: 0;
}

.pagination {
  width: 1060px;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 60px;
}

.pagination-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination-item {
  margin-right: 8px;
}

.pagination-item:last-child {
  margin-right: 8px;
}

.pagination-item .pagination-link {
  font-size: 20px;
  line-height: 36px;
  display: block;
  width:23px;
  height: 36px;
  padding: 11px 18px 11px 18px;
}

.pagination-item p {
  padding: 11px 23px;
}

.pagination-item .current {
  color: #000000;
  background-color: #f2f2f2;
}


.page-footer {
  padding: 40px 70px 30px 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.socials {
  width: 142px;
}

.socials-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.social-item {
  width: 47px;
  height: 40px;
}

.social-item a {
  position: relative;
  display: block;
  padding: 20px 12px;
}

.social-icon{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill:#83B3D3;
}

.social-icon:hover{
  fill:#68a2ca;
}

.social-icon:focus{
  fill:#68a2ca;
}

.social-icon:active{
  fill: rgba(104, 162, 202, 0.3);
}

.contacts {
  width: 720px;
}

.contacts address {
  text-align: center;
}

.contacts address a {
  font-style: normal;
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
}

.contacts address a:hover{
  color: #756157;
}

.contacts address a:focus{
  color: #756157;
}

.contacts address a:active{
  color: rgba(117, 97, 87, 0.3);
}

.html-academy {
  width: 115px;
}

.html-academy-icon{
  fill: #000000;
}

.html-academy-icon:hover{
  fill: #756157;
}

.html-academy-icon:focus{
  fill: #756157;
}

.html-academy-icon:active{
  fill: rgba(117, 97, 87, 0.3);
}
